[2022-02-05 05:15] MayoDuckPy opened #8 "Create CRC Cards & UML"
Discussions for the CRC Cards and UML diagram should take place here. Commit all changes to the `crc-uml` branch.

[2022-02-05 05:20] MayoDuckPy opened #9 "Design UI and Create Storyboards"
Discussions on the app's UI design and their subsequent storyboards should take place here. Commit all changes to branch `ui-storyboard`.

[2022-02-06 06:01] Yutong13 commented on #8
CRC cards are done

[2022-02-06 06:02] MayoDuckPy commented on #9
UI interface designs have been committed.

[2022-02-07 00:32] MayoDuckPy commented on #9
<img src="https://user-images.githubusercontent.com/40531692/152708383-f7869985-4563-42a9-84a4-989f43919685.png" height=500>

We should consider [plantuml](plantuml.com) for creating the storyboards. We'll need to add a border to the svg template if we go this route.

[2022-02-07 09:17] MayoDuckPy commented on #9
Just pushed a diagram that documents the start screen to the main menu (193736f).

<img src="https://github.com/CMPUT301W22T01/QRpokemon/blob/ui-storyboard/doc/storyboard/activityDiagram.png?raw=true" height="1000">

[2022-02-07 18:49] shangyingl commented on #9
The storyboard for QR inventory
![flowchart](https://user-images.githubusercontent.com/97411729/152852170-f63b4d96-c20b-41bf-8946-792137f4c4fe.jpg)
![QR inventory scroll down](https://user-images.githubusercontent.com/97411729/152852185-b251b3a7-b67c-4c38-bdc3-409a29e250c2.svg)
![QR inventory delete](https://user-images.githubusercontent.com/97411729/152852196-b62fa68d-c495-4468-a32c-a8043a30bc5f.

[2022-02-07 18:52] shangyingl commented on #9
storyboard for QR inventory
<img src="https://user-images.githubusercontent.com/97411729/152852591-fed4cb0b-2851-4b01-9d5f-e9871c49267f.jpg" height="600">
<img src="https://user-images.githubusercontent.com/97411729/152852658-b77ea4e5-9ce6-453b-be83-5c4bb447a923.svg" height="600">
<img src="https://user-images.githubusercontent.com/97411729/152852737-5b2c25de-164f-4685-9f79-3480fc30678d.svg" heigh

[2022-02-07 18:56] xiaolvgao commented on #9
<img src= "https://user-images.githubusercontent.com/50682908/152852943-bb2caeef-06c7-4469-9c0a-718fa4dd0eaa.jpg" height="600">

[2022-02-07 18:58] xinran11 commented on #9
![image](https://user-images.githubusercontent.com/97500457/152863966-2f77f039-7540-4dd0-85cc-2beff1fc32c0.png)

[2022-02-07 19:11] Magicboy-Zhang commented on #9
[Rank.pdf](https://github.com/CMPUT301W22T01/QRpokemon/files/8017990/Rank.pdf)

[2022-02-07 19:14] Magicboy-Zhang commented on #9
![Rank_Flow](<img src="https://user-images.githubusercontent.com/74690677/152855889-4d5fe425-95af-4ca6-a07b-4a9b609e058f.png")

[2022-02-07 19:14] Magicboy-Zhang commented on #9
![Rank_Flow](https://user-images.githubusercontent.com/74690677/152856097-5b3e88c6-d093-4054-8fbf-f5ec961c7e38.png)

[2022-02-07 19:37] Magicboy-Zhang commented on #9
![jb](https://user-images.githubusercontent.com/74690677/152859398-a56c7f85-5cf7-45d8-b628-e12611cefd32.png)

[2022-02-07 19:39] Magicboy-Zhang commented on #9
![new_rank](https://user-images.githubusercontent.com/74690677/152859636-4a1d9f38-d54f-403e-8224-ff5ef7d25dbb.png)

[2022-02-07 19:47] Magicboy-Zhang commented on #9
Can't figure out the difference between "game-wide high scores of all players" and "estimate of my ranking for a total sum of scores of QR codes scanned".

[2022-02-07 19:59] Yutong13 commented on #9
User story for search
<img src="https://user-images.githubusercontent.com/78041570/152862307-c1b555df-c34e-4003-af3f-f18c06ae18b3.png" height="500">

[2022-02-07 20:00] MayoDuckPy commented on #9
We'll just have to treat them as different unless otherwise noted.

[2022-02-07 20:01] Yutong13 commented on #9
Missing story points and risk level, will have to discuss with TA for further details.

[2022-02-07 20:08] xiaolvgao commented on #9
<img src= "https://user-images.githubusercontent.com/50682908/152863257-2ab14899-93a1-42d5-bb31-e02dba61d8bf.jpeg"height="1000">

[2022-02-07 20:19] xiaolvgao commented on #9
<img src= "https://user-images.githubusercontent.com/50682908/152863257-2ab14899-93a1-42d5-bb31-e02dba61d8bf.jpeg" height="600">

[2022-02-08 20:53] xinran11 commented on #9
![image](https://user-images.githubusercontent.com/97500457/153073687-2cfe7c2f-29eb-427c-ae01-fd098384cb63.png)

[2022-02-08 23:24] Magicboy-Zhang opened #10 "US 01.01.01"
As a player, I want to add new QR codes to my account.

**Expected result**
============

- [x] Having a "Camera" button in the main menu for allowing players to open their camera and scan QR codes.

- [x] Button launches an activity that be able to turn on the camera.<br>*(Main_Menu_Activity -> Main_Menu_Controller -> Camera activity)*

- [x] The "Scan button" in "Camera" activity obtains the QR

[2022-02-08 23:34] Magicboy-Zhang opened #11 "US 01.02.01"
As a player, I want to see what QR codes I have added to my account.

**Expected result**
============

- [x] Having a "My QR inventory" button in the main menu for allowing players to open and browse their QR inventory.

- [x] Button launches an activity that shows the list of QR codes that the current player has.<br>*(Main_Menu_Activity -> Main_Menu_Controller -> QR_Inventory_Activity)*
  * Each

[2022-02-08 23:46] Magicboy-Zhang opened #12 "US 01.03.01"
As a player, I want to remove QR codes from my account.

**Expected result**
============

- [x] Updating the list in My QR Inventory so that each row of the QR code list(each QR code) can be removed by clicking.

- [x] Clicking a row will perform the following:
  * A floating button will be visiable.
  * Clicking that button will perform the following:
    * Removing the QR code data of the curre

[2022-02-09 02:03] Yutong13 opened #13 "test"

[2022-02-09 02:03] #13 closed, assigned to nobody

[2022-02-12 18:10] Magicboy-Zhang opened #14 "US 01.04.01"
As a player, I want to see my highest and lowest scoring QR codes.

**Expected result**
============

- [x] Sorting the list in My QR inventory in descending order.

- [x] Updating the sorting functionality for My QR inventory in Storyboard.

**Option**
=======

- [x] Having two buttons that allow the player to select ascending or descending order.

[2022-02-12 18:17] Magicboy-Zhang opened #15 "US 01.05.01"
As a player, I want to see the sum of scores of QR codes that I have scanned.

**Expected result**
============

- [x] Showing the total score of QR codes that the current player has in My QR inventory.

- [x] Updating new total score display in My QR inventory in Storyboard.

[2022-02-12 18:19] Magicboy-Zhang opened #16 "US 01.06.01"
As a player, I want to see the total number of QR codes that I have scanned.

**Expected result**
============

- [x] Showing the total number of QR codes that the current player has in My QR inventory.

- [x] Updating new total number display in My QR inventory in Storyboard.

[2022-02-12 18:40] Magicboy-Zhang opened #17 "US 01.07.01"
As a player, I want to see other player’s profiles

**Expected result**
============

- [ ] Updating "camera activity" to allow it also identifies other players'game status QR code.

- [ ] The "Camera" activity obtains the QR code then do checking:
  * If the QR code is valid and is a login-QR-code:
    * goto US 01.01.01.
  * Else if the QR code is valid and is profile-QR-code:
    * get the data

[2022-02-12 18:43] Magicboy-Zhang commented on #17
Uncertain design. The original design was to do the same thing by entering a user ID or adding friends, but the requirement didn't seem to mention functions like adding friends. Need a meeting to discuss and may change later.

[2022-02-12 18:45] Magicboy-Zhang commented on #17
Not sure if the requirments "As a player, I want to see other player’s profiles" and "As a player, I want to be able to generate QR codes so that other players can scan my QR code to see my game status" are telling the same thing.

[2022-02-12 18:48] Magicboy-Zhang opened #18 "US 02.01.01"
As a player, I want to be able to scan QR codes and record a photo of the location or object, and the geolocation of the location or object.

**Expected result**
============

- [x] Having two slide buttons to record geoloaction or QR code itself, leaving it only a time tag and score for this record. User can also choose to save this record or don't save the record.
  * All the data would be uploa

[2022-02-12 19:05] Magicboy-Zhang opened #19 "US 02.02.01"
As a player, I want to be able to comment on QR codes.

**Expected result**
============

- [x] Having "Add comment" button in each row of the list in My QR inventory, when player clicking a button of the QR code he or she has Or maybe a player is looking other's profile by scanning profile-QR-code, opening a new activity and show more details.
  * Showing the icon of the QR code.
  * Showing the

[2022-02-12 19:06] Magicboy-Zhang commented on #19
Not sure "Return to Main Menu" or "Return to Inventory".

[2022-02-12 19:10] Magicboy-Zhang opened #20 "US 02.03.01"
As a player, I want to be able to browse QR codes that I own.

**Expected result**
============

Currently, same as US 01.02.01.

[2022-02-12 19:17] Magicboy-Zhang commented on #20
Not sure if this requirement is the same as US 01.02.01.

[2022-02-12 19:20] Magicboy-Zhang opened #21 "US 02.04.01"
As a player, I want to be able to browse QR codes that other players have scanned.

**Expected result**
============

Currently, same as US 01.07.01.

[2022-02-12 19:21] Magicboy-Zhang commented on #21
Not sure if this is the same as US 01.07.01.

[2022-02-12 19:24] Magicboy-Zhang opened #22 "US 02.05.01"
As a player, I want to see that other players have scanned the same QR code.

**Expected result**
============

- [ ] Updating the list in My QR Inventory so that if a QR Code is not only owned by the current player, showing a prompt message in that row.

**Option**
=======

- [x] Instead of showing which code has been scanned by multiple players, showing which one is only belongs to the current p

[2022-02-12 19:25] Magicboy-Zhang commented on #22
Might be shown in the list of My QR inventory.

[2022-02-12 19:27] Magicboy-Zhang opened #23 "US 03.01.01"
As a player, I want to be able to generate QR codes so that other players can scan my QR code to see my game status.

**Expected result**
============

- [x] Having a "My profile" button in the main menu for allowing players to see the details of theirselves.

- [x] Button launched an activity that shows operations related to current player.

- [x] Add a "Generate My Game Status QR Code" button, w

[2022-02-12 19:42] Magicboy-Zhang commented on #23
We currently do not have a "My profile" activity in storyboard.

[2022-02-12 19:47] Magicboy-Zhang opened #24 "US 03.02.01"
As a player, I want to be able to generate a QR code so that I can log in to another device with the same account.

**Expected result**
============

- [x] Add a "Generate My Login QR Code" button, which performs the following:
  * The QR code that corresponding to the current player, contains things that allow application recognizing this user, has already generated and uploaded to the cloud data

[2022-02-12 21:08] MayoDuckPy commented on #19
I think we should go back to whatever the previous activity the user was at.

[2022-02-12 21:34] Magicboy-Zhang opened #25 "US 04.01.01"
As a player, I want a profile with a unique username and my contact information.

**Expected result**
============

- [x] When player first time log in with a device, there are several edit boxes / texts that ask the player to enter their username and contact information.

- [ ] Having a "confirm" Button that do the following:
  * Showing a confirmation dialog basically let the player choose yes o

[2022-02-12 21:36] xiaolvgao commented on #10
As a player, I want to choose whether to save the geolocation and image of the scanned QR code

[2022-02-12 21:37] Magicboy-Zhang opened #26 "US 04.02.01"
As a player, I do not want to log into my application using a username and password as my device can identify me.

**Expected result**
============

- [ ] Implement sth that allows the device identify the player if they already signed up.

[2022-02-12 21:37] Magicboy-Zhang commented on #26
Need more details and discussion

[2022-02-12 21:39] xiaolvgao commented on #10
As a player I want to choose whether to save the geolocation and image of the scanned QR code

[2022-02-12 21:39] xiaolvgao commented on #10
As a player I want to choose whether to save the geolocation and image of the scanned QR code

[2022-02-12 21:56] Magicboy-Zhang opened #27 "US 05.01.01"
As a player, I want to search for other players by username.

**Expected result**
============

- [x] Having a "Search" button in the menu for allowing player to do searching.

- [x] Button launches an activity that performs the following:
  * Having a edit text that allow the user to input uid.
  * A list that constantly update search results.

- [x] Demonstrating Search functionality in Storyboa

[2022-02-12 21:59] Magicboy-Zhang opened #28 "US 05.02.01"
As a player, I want to search for nearby QR codes by using geolocation.

**Expected result**
============

- [ ] Updating the Search activity that performs the following:
  * Having two buttons that allow the user search by user id or geolocation.
  * Having a edit text that allow the user to input uid or geolocation.
  * A list that constantly update search results.

- [x] Updating Storyboard.

[2022-02-12 21:59] Magicboy-Zhang commented on #28
Maybe there is a better way to do this.

[2022-02-12 21:59] xiaolvgao opened #29 "US.06.01.01"
As a player, I want to open the map to see nearby codes and their scores, so I can scan nearby codes with higher scores.

[2022-02-12 22:10] Magicboy-Zhang opened #30 "US 06.01.01"
As a player, I want to see a map of geo-locations of nearby QR codes.

**Expected result**
============

- [x] Having a "Map" button in the menu for allowing player to see nearby QR codes.

- [x] Button launches an activity that performs the following:
   * Showing a map with many QR code coordinates nearby.

- [x] Demostrating Map functionality in Storyboard.

**Option**
=======

- [x] Make those

[2022-02-12 22:20] Magicboy-Zhang opened #31 "US 07.01.01"
As a player, I want to see game-wide high scores of all players.

**Expected result**
============

- [x] Having a "Check Rank" button in the menu for allowing player to see the leader board.

- [x] Button launches an activity that performs the following:
  * Showing a leaderboard sorted in descending order by highest score.

- [x] Demonstrating Rank functionality in Storyboard.

[2022-02-12 22:27] Magicboy-Zhang opened #32 "US 07.02.01"
As a player, I want an estimate of my ranking for the highest scoring unique QR code.

**Expected result**
============

- [x] Updating Search activity as the following:
  * Let the last row of the list always shows the ranking information of the current player.

- [x] Updating Storyboard.

[2022-02-12 22:29] #29 closed, assigned to nobody

[2022-02-12 22:39] Magicboy-Zhang opened #33 "US 07.03.01"
As a player, I want an estimate of my ranking for the total number of QR codes scanned.

**Expected result**
============

- [x] Updating Search activity so that it can allow the leaderboard sorted in descending order by the total number of QR codes scanned.

- [x] Updating Storyboard.

[2022-02-12 22:41] Magicboy-Zhang opened #34 "US 07.04.01"
As a player, I want an estimate of my ranking for a total sum of scores of QR codes scanned.

**Expected result**
============

- [x] Updating Search activity so that it can allow the leaderboard sorted in descending order by the sum of scores of QR codes scanned.

- [x] Updating Storyboard.

[2022-02-12 22:42] Magicboy-Zhang opened #35 "US 08.01.01"
As a player, I don’t want the actual photo recorded. E.g., so I can scan and score my vaccine passport.

**Expected result**
============

- [x] If the QR code player now scanning does not belong to, or, designed to be used by our application, do not save them in out cloud database.

[2022-02-12 22:43] Magicboy-Zhang opened #36 "US 08.02.01"
As a player, I want to be able to decline recording geolocation for privacy reasons.

**Expected result**
============

- [x] Notified player choose to save geolocation.

- [x] Updating Storyboard.

[2022-02-12 22:44] Magicboy-Zhang opened #37 "US 09.01.01"
As an owner, I don’t want to store big images online.

**Expected result**
============

[2022-02-12 22:44] Magicboy-Zhang opened #38 "US 09.02.01"
As an owner, I want to be able to delete QR codes that are bad or malicious.

**Expected result**
============

- Currently same as US 01.03.01

[2022-02-12 22:45] Magicboy-Zhang opened #39 "US 09.03.01"
As an owner, I want to be able to delete players.

**Expected result**
============

- [ ] Having a button "Delete My Account" in My Profile that performs the following:
  * Popping up a dialog bascially asking player to click yes or cancle.
  * Double checking.
  * If yes:
    * deleting the player and all his information from cloud database.

[2022-02-13 00:45] Magicboy-Zhang commented on #19
Once a comment is made (whoever), then it can never be changed.

[2022-02-13 00:49] Magicboy-Zhang commented on #21
What will be shown -> Basic information of that user and the list of QR code that user has -> What will be shown after clicking a QR code in the list -> US 02.02.01

[2022-02-21 04:44] MayoDuckPy commented on #9
Marking this issue closed due to merging of PR #40. Please create a new issue when the ui/storyboard requires further attention.

[2022-02-21 04:44] #9 closed, assigned to MayoDuckPy, xiaolvgao, Magicboy-Zhang, Yutong13, shangyingl, xinran11

[2022-02-21 04:48] MayoDuckPy commented on #8
We should probably start on the UML before we begin coding for Project Part 3 so we can have an outline of the entire app.

[2022-02-21 05:34] xinran11 commented on #8
I will work on the UML for the leaderboard part.

[2022-02-21 05:38] Magicboy-Zhang commented on #8
Do uml for Inventory

[2022-02-21 05:43] xiaolvgao commented on #8
I will draw UML for the search part.

[2022-02-21 06:33] MayoDuckPy commented on #8
We should use plantuml for our UML diagram. Since it's all in plaintext and has a simple syntax, we can quickly draw our diagrams while also maintaining the ability to resolve merge conflicts like we do with code.

Here's an example of the syntax and its resulting diagram. You should also check out the [plantuml documentation](https://plantuml.com/class-diagram).

[code]

<img src="https://user-im

[2022-02-21 06:51] MayoDuckPy commented on #8
By the way, please make your commits in the `crc-uml` branch in the file `doc/uml/uml.txt`. The individual classes of the UML diagram aren't really large enough to create new feature branches.

[2022-02-21 07:15] shangyingl commented on #8
I will draw UML for my profile part

[2022-02-22 03:24] shangyingl commented on #8
working together with xinran for Player

[2022-02-22 03:27] xinran11 commented on #8
I will work with Shangying for the signup uml.

[2022-02-22 06:44] shangyingl commented on #8
The draft uml for "My profile" and "Player" is complete

[2022-02-22 06:44] xinran11 commented on #8
Draft of leaderboard complete.
Draft of Signup and Restore complete.

[2022-02-23 03:49] Yutong13 commented on #8
For draft classes so far, we should exclude elements related to XML Classes for our UML diagram. Such as TextView, ImageView etc. We only need to show low level functionality of what each Class does and methods/attributes related to its functionalities.

[2022-02-23 03:51] MayoDuckPy commented on #8
We should write class names and method/attribute names to follow Java naming conventions.

Class names should always be capitalized **CamelCase** and method/attributes should be regular **camelCase**.
You can check out the changes in commit eba328e for examples.

[2022-02-23 03:53] MayoDuckPy commented on #8
Also, instead of writing `onCreate()` we can just inherit an Android Activity if you think `onCreate()` (and related methods) should be added.

[2022-02-23 05:48] Magicboy-Zhang commented on #8
QRInventory done

[2022-02-24 16:23] Magicboy-Zhang commented on #8
Found an error in line 121, forgot 'Class'. Already fixed.
![image](https://user-images.githubusercontent.com/74690677/155564804-7342a42b-0274-4f28-bdf8-410e26144bec.png)

[2022-02-24 17:03] Magicboy-Zhang commented on #8
Not sure "a controller has a activity" or "an activity has a controller".
Possible missing relationship found between "OtherPlayerActivity "1" *- "1" OtherPlayerController" and the main part.
![image](https://user-images.githubusercontent.com/74690677/155571764-2fc0b7d4-0d48-4836-a5bd-ed04f52a5649.png)

[2022-02-24 17:35] Keviplier commented on #8
a controller has an activity

[2022-02-25 05:56] Yutong13 commented on #8
A controler has an activity

[2022-02-26 22:30] MayoDuckPy opened #42 "Organize UML Diagram"
This issue is more of a reminder for later but we'll need to eventually organize the UML diagram given its current state. This may involve **grouping** certain classes by their type or which file they appear in. Additionally, we may be able to find **superclasses** given how many "controller" and "activity" classes we have.

[2022-02-26 22:57] MayoDuckPy commented on #8
Continuing last meeting's discussion, since an Android Activity is an extendable class we can either define an empty Activity class (maybe with a note explaining its purpose), an Activity class in a package (using the `package` keyword), or no Activity class at all. ([Source](https://softwareengineering.stackexchange.com/a/343675))

For now, I believe excluding the Activity class would be best. Th

[2022-02-27 00:37] MayoDuckPy commented on #8
For the activities, let's leave the attributes empty until we actually implement the UI. Since the UI details are encoded in the storyboard, we can reference those and, since the UI may change based on the difficulty of implementing some elements, the UML will have to change eventually anyway. We can save time by doing it last.

[2022-02-27 00:50] MayoDuckPy commented on #8
One last thing, for the method arguments, perhaps we should use shortened argument names like `fileSystemController -> fsController` and `databaseController -> dbController`. I find them easier to read and far less annoying to type out every time.

[2022-02-28 00:08] MayoDuckPy commented on #8
Rather than having separate functions in PlayerController to send each db transaction individually, it may be better to just send a HashMap containing all the user's changed data. And, for unchanged data, we could send NULL so databaseController knows that nothing changed (e.g., score: NULL).

Currently, the functions have to be called separately for transactions that affect each other like score

[2022-02-28 01:59] Magicboy-Zhang commented on #8
Agree with @MayoDuckPy. Besides, the uml diagrams we generated currently do not have a pretty layout. Most of the classes are now arranged in a linear way. Perhaps we need to make the UML diagrams more readable by moving the related classes closer to each other and placing those important classes near the top.

[2022-02-28 02:01] Magicboy-Zhang commented on #8
What we need to do in the current stage: refine uml and build the first few basic UIs

[2022-02-28 02:09] MayoDuckPy commented on #8
See issue #42. We're quite far from finishing the UML so refinement can start later.

[2022-02-28 03:21] Magicboy-Zhang commented on #8
sure thing

[2022-03-07 22:27] Magicboy-Zhang opened #43 "Part3 Discussion"
Used to chat in the period of Part 3

[2022-03-07 22:29] Magicboy-Zhang commented on #43
Seems like xml in branch "other_user_interface_Activity" and "qr_interface" are the same, prefer "other_user_interface_Activity"

[2022-03-07 22:36] Magicboy-Zhang commented on #43
Have already tested how to integrate Google Maps into our application with @xiaolvgao

[2022-03-08 01:55] MayoDuckPy commented on #43
We're using Google Maps? Not OpenStreetMaps?

[2022-03-08 02:27] Magicboy-Zhang commented on #43
Google map might be better if we can actually use it, but will ask for TA or other's advice.

[2022-03-12 09:13] MayoDuckPy opened #56 "Database functions are synchronous but Firestore is asynchronous"
Right now we treat Firestore synchronously in our code (which would work if Firestore was synchronous) but, since Firestore is asynchronous, that means the data will be returned some time after we return from the database `getData()` method (depending on how long your connection takes).

To fix this, `getData()` should be defined with a callback function as `getData(callback, List<Map> list, colle

[2022-03-12 10:42] MayoDuckPy commented on #56
Resolved by commit 76491b7. Please create another issue if there are problems with the implementation.

[2022-03-12 10:42] #56 closed, assigned to MayoDuckPy, Yutong13

[2022-03-12 19:19] MayoDuckPy opened #57 "Database checks lack error-checking"
Although we can now successfully query Firestore, we should probably implement proper error-checking code that runs when our queries fail. Until then, we'll just have to assume our database calls work.

[2022-03-14 09:12] MayoDuckPy commented on #38
The DatabaseController has this functionality. Now we may just need an Owner class.

[2022-03-14 09:14] MayoDuckPy commented on #39
The DatabaseController has this functionality. Now we just need a completed Profile Page for users to interact with (and the corresponding implementation for deletion).

[2022-03-19 19:36] MayoDuckPy opened #62 "Use RecyclerView for Leaderboard and Inventory"
We should switch the current ListView implementations in favour of RecyclerViews which display large datasets far more efficiently.

[2022-03-20 02:50] MayoDuckPy commented on #62
Commit f2d026b in branch `leaderboard_Activity` adds a RecyclerView to the leaderboard.

We should focus on adding a RecyclerView to the Inventory page now.

[2022-03-20 03:17] MayoDuckPy opened #63 "Organize code into different directories"
As discussed during our demo, we should organize our code into various directories.

Since Activities typically require Adapters and more, it may be a good idea to **organize most of our code based on the Activity** (Activity-related objects and their Controllers) that relates to it. However, the **MainActivity should stay as it is** since it's the entry-point to our app. It also would be best to

[2022-03-20 03:27] MayoDuckPy commented on #63
I have added a directory for activities in commit 8838cae with the current leaderboard implementation residing there. Hopefully that adds clarification on the structure.

[2022-03-20 21:36] MayoDuckPy opened #64 "Player model should track highest unique QR code"
Currently, we only keep track of a player's total score and their quantity of qr codes. However, we should also track their highest unique QR code for use in the leaderboard. Otherwise, to get a player's estimated ranking we will have to calculate the highest unique score for each player in order to compare them.

[2022-03-20 22:03] MayoDuckPy opened #65 "DatabaseController needs sorting method"
Rather than fetching data from the database (Firestore) and sorting locally, we should make use of Firestore's sorting api to return sorted data for us. This could be implemented in a method called `DatabaseController.getSortedData()` or `DatabaseController.getOrderedData()`. This method will be required by the leaderboard for efficient, non-local sorting of player data.

[2022-03-20 22:13] MayoDuckPy commented on #65
To prevent code duplication, it may actually be best to add a nullable sort parameter to `DatabaseController.getData()`.

[2022-03-20 23:12] Yutong13 opened #66 "Signup Activity: User need to log in with device ID"
- So far we have to force user to give a unique username id.
- User need to log in with device ID needed

[2022-03-21 00:09] MayoDuckPy commented on #65
Resolved by commits 98342a2 and acd7cf2.

[2022-03-21 00:09] #65 closed, assigned to MayoDuckPy

[2022-03-24 07:52] Yutong13 commented on #63
qrscanned and qrinventory classes has been put into directories, will do the rest soon.

[2022-03-24 07:54] Yutong13 opened #67 "Test MapActivity frequently"
Please test Map Activity for our app. See if we can get bugs from different phones.

[2022-03-25 05:26] shangyingl opened #68 "Keep some information in the database for testing purposes"
Players: Iris, Heather, Yu Yu
Cities: Edmonton, Calgary, Yutong City
please keep those above and all the items that belong to those names.

[2022-03-26 05:42] Yutong13 commented on #66
Done.

[2022-03-26 05:42] #66 closed, assigned to Yutong13

[2022-03-26 05:43] Yutong13 opened #69 "Admin users need to implement"
We can either give user a password field for admin user to log in.
Or we can have admin device set up in advanced on Firestore.

[2022-03-26 05:44] Yutong13 opened #70 "Store qr code's photo"
We can now upload a qrcode record, but we can't store photo directly on Firestore.
Refactor Bitmap to String is needed, and we can decode it on the fly, when we need it.

[2022-03-26 05:45] Yutong13 commented on #57
Unit test for Player and QrCode is up

[2022-03-26 08:34] Yutong13 opened #71 "Player needs to keep track on highest QR he/she has."
We need a new attribute for player to keep track on his/her highest QR code ever scanned.

[2022-03-26 08:35] Yutong13 commented on #70
Done by xiaolvgao

[2022-03-26 08:35] #70 closed, assigned to xiaolvgao

[2022-03-26 08:36] Yutong13 commented on #67
Map works

[2022-03-27 06:03] MayoDuckPy commented on #71
Duplicate of #64

[2022-03-27 06:03] #71 closed, assigned to nobody

[2022-03-27 06:05] MayoDuckPy commented on #68
It may be difficult but you could try creating a mock Controller class that will return those items to the activity during testing.

[2022-03-27 17:58] Yutong13 commented on #63
Done.

[2022-03-28 00:42] MayoDuckPy opened #72 "Add CI/Actions to make automated builds"
Now that we are beginning to integrate our various activities together, we should use GitHub Actions to ensure our app builds successfully.

[2022-03-28 06:44] #34 closed, assigned to MayoDuckPy

[2022-03-28 06:45] #14 closed, assigned to Magicboy-Zhang

[2022-03-28 06:49] #31 closed, assigned to MayoDuckPy

[2022-03-29 05:58] #67 closed, assigned to nobody

[2022-03-29 05:58] #63 closed, assigned to MayoDuckPy, xiaolvgao, Magicboy-Zhang, Yutong13, shangyingl, xinran11

[2022-03-29 16:29] MayoDuckPy commented on #72
Now working with commit 01a9b6b

[2022-03-29 16:29] #72 closed, assigned to MayoDuckPy

[2022-03-29 16:31] MayoDuckPy commented on #69
Owner is defined as **Owner: the entity that owns the infrastructure that the game runs on.**

~~Since the owner should have access to our database (Firestore), an admin user may not be needed.~~

[2022-03-29 16:37] MayoDuckPy opened #74 "Refactor `getPlayer()` in PlayerController"
Currently, the `getPlayer()` method in PlayerController allows us to fetch a single player and multiple players. To improve code quality, this method should be separated into methods which fetch a single player and another which fetches multiple. Additionally, the latter method should allow us to pass the sortField parameter used in `DatabaseController.getData()` so that player data is returned in

[2022-03-29 17:06] MayoDuckPy opened #75 "Getting player location happens too early"
We get the player's location as soon as the app starts. Given that the operation is expensive, we should not call for location until the player opens the map.

[2022-03-29 18:13] MayoDuckPy opened #76 "QrInventory does not need to calculate total score"
The Player class keeps track of its total score so we should simply use that.

[2022-04-02 01:36] Yutong13 commented on #75
Working on it

[2022-04-02 08:49] Yutong13 commented on #75
Done

[2022-04-02 09:00] Yutong13 commented on #74
It's done, I created getAllPlayers() method in PlayerController class

[2022-04-03 02:48] #75 closed, assigned to Yutong13

[2022-04-03 02:48] #74 closed, assigned to MayoDuckPy, Yutong13

[2022-04-03 02:51] MayoDuckPy commented on #64
Fixed in commit 12e5542 by @Yutong13

[2022-04-03 02:51] #64 closed, assigned to MayoDuckPy, Yutong13

[2022-04-03 02:55] MayoDuckPy commented on #69
Implemented by @Yutong13 in commit 9cc9706

[2022-04-03 02:55] #69 closed, assigned to nobody

[2022-04-03 08:48] #43 closed, assigned to nobody

[2022-04-03 20:22] Magicboy-Zhang opened #80 "Final testing of all the user stroies"
Now start testing all User Stories, will report success or problems here.

[2022-04-03 20:35] Magicboy-Zhang commented on #80
[2022.4.3] 14:31

US 01.01.01
As a player, I want to add new QR codes to my account.

- [x] 1. Scanning when there's no code in the inventory
- [x] 2. Scanning when there's one code in the inventory
- [x] 3. Scanning when there are many codes (> 2) in the inventory
- [x] 4. Scanning a code and then scanning it again
- [x] 5. Scanning a code, then delete it by clicking the delete button and scan it

[2022-04-03 20:58] Magicboy-Zhang commented on #80
US 01.01.01 Bug found
- [x] 7 Fixed

[2022-04-03 21:16] Magicboy-Zhang commented on #80
US 01.02.01

As a player, I want to see what QR codes I have added to my account.

- [x] 1. Add a few QR codes into the inventory and check if those codes match the QR codes in the firebase
- [x] 2. Delete a QR code by clicking the delete button and check if those codes match the QR codes in the firebase
- [x] 3. Delete a QR code by logging in as an administrator and check if those codes match the

[2022-04-03 21:21] Yutong13 commented on #80
This is fixed in QrScannedActivity

[2022-04-03 21:27] Magicboy-Zhang commented on #80
US 01.03.01

As a player, I want to remove QR codes from my account.

- [x] 1. Remove a code from inventory and check if the rest QR codes match the QR codes in the firebase
    - [x] higestUnique is updated
    - [x] qrCount is updated
    - [x] qrInventory is updated
    - [x] totalScore is updated

[2022-04-03 21:39] Magicboy-Zhang commented on #80
US 01.04.01

As a player, I want to see my highest and lowest scoring QR codes.

- [x] 1. Clicking the 'ascending' button will set the QR inventory to ascending order
- [x] 2. Clicking the 'descending' button will set the QR inventory to descending order
- [x] 3. Delete any one of the codes and check if the buttons also work

[2022-04-03 21:48] Magicboy-Zhang commented on #80
US 01.05.01

As a player, I want to see the sum of scores of QR codes that I have scanned.

- [x] 1. Check if the sum of the score of QR codes matches the real score
- [x] 2. Delete a QR code by clicking the delete button and check if the sum of the score of QR codes matches the real score
- [x] 3. Delete a QR code by logging in as an administrator and check if the sum of the scores of QR codes ma

[2022-04-03 21:58] Magicboy-Zhang commented on #80
US 01.06.01

As a player, I want to see the total number of QR codes that I have scanned.

- [x] 1. Check if the total number of QR codes matches the real number
- [x] 2. Delete a QR code by clicking the delete button and checking if the total number of QR codes matches the real number
- [x] 3. Delete a QR code by logging in as an administrator and check if the total number of QR codes matches the

[2022-04-03 22:07] Magicboy-Zhang commented on #80
US 01.07.01

As a player, I want to see other player’s profiles

- [x] 1. Search for some keywords and check to see if the profiles of all relevant players are correctly displayed
    - [x] Identifier correctly displayed
    - [x] Email correctly displayed
    - [x] Phone number correctly displayed

[2022-04-03 22:21] Magicboy-Zhang commented on #80
US 02.01.01

As a player, I want to be able to scan QR codes and record a photo of the location or object, and the geolocation of the location or object.

- [x] 1. Enable 'Save QR' only, check if the QR code is correctly recorded without saving location
- [x] 2. Enable 'Save Location' only, check if the QR code is correctly recorded without saving the photo
- [x] 3. Enable both 'Save Location' and

[2022-04-03 22:35] Magicboy-Zhang commented on #80
US 02.02.01

As a player, I want to be able to comment on QR codes.

- [x] 1. Comment one of the code from the current player, check if the comment is correctly displayed and added into firebase

[2022-04-03 22:49] Magicboy-Zhang commented on #80
US 02.03.01

As a player, I want to be able to browse QR codes that other players have scanned.

- [x] 1. Scan a QR code that represents the inventory of a player, that inventory should be the same as it should be.
    - [x] Inventory content should be correctly displayed
    - [x] the sum of scores should be correctly displayed
    - [x] the total number should be correctly displayed
    - [x] pl

[2022-04-03 22:59] Magicboy-Zhang commented on #80
Bug found, fix a bug that the app crashes when browsing other player's inventory

- [x] Fixed

[2022-04-03 23:07] Magicboy-Zhang commented on #80
US 02.04.01

As a player, I want to see that other players have scanned the same QR code.

- [x] 1. Check if the Qr codes scanned by many people will prompt a message that tells the player that it is not unique to him/herself

[2022-04-03 23:23] Magicboy-Zhang commented on #80
US 03.01.01

As a player, I want to be able to generate QR codes so that other players can scan my QR code to see my game status.

- [x] same as US 02.03.01 / 01.07.01

[2022-04-03 23:33] Magicboy-Zhang commented on #80
US 03.02.01

As a player, I want to be able to generate a QR code so that I can log in to another device with the same account.

- [x] 1.Generate a code for the current player and log in using another device, check if everything is the same as it was the last time player logged in
    - [x] QR inventory is running smoothly
    - [x] leaderboard is running smoothly
    - [x] map is running smoothly

[2022-04-03 23:57] Magicboy-Zhang commented on #80
US 04.01.01

As a player, I want a profile with a unique username and my contact information.

- [x] 1.  check if all the information matches the data on firebase
    - [x] username displayed correctly
    - [x] phone number displayed correctly
    - [x] email displayed correctly

[2022-04-04 00:00] Magicboy-Zhang commented on #80
US 04.02.01

As a player, I do not want to log into my application using a username and password as my device can identify me.

- [x] 1. Automatically log in

[2022-04-04 00:06] Magicboy-Zhang commented on #80
US 05.01.01

As a player, I want to search for other players by username.

- [x] 1. Enter something in the search box, then check if all the players that the keyword is a part of their identifier are correctly displayed
- [x] 2. Delete a player and check the same thing

[2022-04-04 00:12] Magicboy-Zhang commented on #80
US 05.02.01

As a player, I want to search for nearby QR codes by using geolocation.

- [x] 1. Enter something in the search box,  then check if all the locations that the keyword is a part of its identifier are correctly displayed
- [x] 2. Delete a location and check the same thing

[2022-04-04 00:17] Magicboy-Zhang commented on #80
US 06.01.01

As a player, I want to see a map of geo-locations of nearby QR codes.

- [x] 1. Check if the map works fine
    - [x] automatic positioning
    - [x] display all QR codes

[2022-04-04 00:23] Magicboy-Zhang commented on #80
US 07.01.01

As a player, I want to see game-wide high scores of all players.

- [x] 1. Check if the  data in the current leaderboard matches the firebase
- [x] 2. Delete one of the codes by clicking the delete button and check if the data in the current leaderboard matches the firebase
- [x] 3. Delete one of the codes by  logging in as an administrator and check if the data in the current leaderb

[2022-04-04 00:34] Magicboy-Zhang commented on #80
US 07.02.01

As a player, I want an estimate of my ranking for the highest scoring unique QR code.

- [x] 1. Check if my ranking for the highest scoring unique QR code is correctly displayed
- [x] 2. Delete one of the codes(two ways) from my inventory that will lead my ranking to decrease, then check if my ranking for the highest scoring unique QR code is correctly displayed

[2022-04-04 00:38] Magicboy-Zhang commented on #80
US 07.03.01

As a player, I want an estimate of my ranking for the total number of QR codes scanned.

 - [x] 1. Check if my ranking for the total number of QR codes scanned is correctly displayed
 - [x] 2. Delete one of the codes(two ways) from my inventory that will lead my ranking to decrease, then check if my ranking for the total number of QR codes scanned is correctly displayed

[2022-04-04 00:41] Magicboy-Zhang commented on #80
US 07.04.01

As a player, I want an estimate of my ranking for a total sum of scores of QR codes scanned.

- [x] 1. Check if my ranking for a total sum of scores of QR codes scanned is correctly displayed
- [x] 2. Delete one of the codes(two ways) from my inventory that will lead my ranking to decrease, then check if my ranking for a total sum of scores of QR codes scanned is correctly displayed

[2022-04-04 00:45] Magicboy-Zhang commented on #80
US 08.01.01

As a player, I don’t want the actual code recorded. E.g., so I can scan and score my vaccine passport.

- [x] 1. Has an option when successfully scanning a QR code that let the player choose if he or she wants to save the photo

[2022-04-04 00:50] Magicboy-Zhang commented on #80
US 08.02.01

As a player, I want to be able to decline recording geolocation for privacy reasons.

- [x] 1. Has an option when successfully scanning a QR code that let the player choose if he or she wants to save the current location

[2022-04-04 01:14] Magicboy-Zhang commented on #80
US 09.01.01

As an owner, I don’t want to store big images online.

- [x] 1. Save the bitmap of images instead of saving the real images

[2022-04-04 01:19] Magicboy-Zhang commented on #80
US 09.02.01

As an owner, I want to be able to delete QR codes that are bad or malicious.

- [x] 1. Check if a user can log in as an owner
- [x] 2. After logging in as the owner, check if the current player is able to delete any one of the QR codes
- [x] 3. After deleting the QR code, that code should be deleted from all the inventory that originally contains that code

[2022-04-04 01:21] Magicboy-Zhang commented on #80
US 09.03.01

As an owner, I want to be able to delete players.

- [x] 1. After logging in as the owner, check if the current player is able to delete any one of the players
- [x] 2. After deleting a player, that player should be deleted from firebase

[2022-04-04 21:09] #18 closed, assigned to nobody

[2022-04-04 21:12] #17 closed, assigned to nobody

[2022-04-04 21:14] #24 closed, assigned to nobody

[2022-04-04 21:17] #22 closed, assigned to nobody

[2022-04-04 21:19] #26 closed, assigned to nobody

[2022-04-04 21:21] #35 closed, assigned to nobody

[2022-04-04 21:22] #37 closed, assigned to nobody

[2022-04-04 21:23] #36 closed, assigned to nobody

[2022-04-04 21:24] #11 closed, assigned to nobody

[2022-04-04 21:26] #21 closed, assigned to nobody

[2022-04-04 21:27] #23 closed, assigned to nobody

[2022-04-04 21:31] #25 closed, assigned to nobody

[2022-04-04 21:32] #30 closed, assigned to nobody

[2022-04-04 21:35] #19 closed, assigned to nobody

[2022-04-04 21:36] #12 closed, assigned to nobody

[2022-04-04 21:38] #15 closed, assigned to nobody

[2022-04-04 21:39] #33 closed, assigned to nobody

[2022-04-04 21:39] #16 closed, assigned to nobody

[2022-04-04 21:41] #27 closed, assigned to nobody

[2022-04-04 21:42] #28 closed, assigned to nobody

[2022-04-04 21:43] #10 closed, assigned to nobody

[2022-04-04 21:47] #39 closed, assigned to MayoDuckPy

[2022-04-04 21:49] #38 closed, assigned to MayoDuckPy

[2022-04-04 21:49] #32 closed, assigned to nobody

[2022-04-04 21:50] #20 closed, assigned to nobody

[2022-04-04 22:25] MayoDuckPy commented on #8
Probably should have closed this a while ago :p

[2022-04-04 22:25] #8 closed, assigned to MayoDuckPy, xiaolvgao, Magicboy-Zhang, Yutong13, shangyingl, xinran11

[2022-04-04 22:37] MayoDuckPy commented on #42
UML organized by commit 8e7a283

[2022-04-04 22:37] #42 closed, assigned to MayoDuckPy, xiaolvgao, Magicboy-Zhang, Yutong13, shangyingl, xinran11

[2022-04-04 22:37] #68 closed, assigned to nobody

[2022-04-04 22:37] #80 closed, assigned to Magicboy-Zhang, Yutong13

[2022-04-05 01:29] Yutong13 commented on #62
Recycler view is used for OwnerActivity as well

[2022-04-05 01:29] #62 closed, assigned to MayoDuckPy, xiaolvgao, Magicboy-Zhang

[2022-04-05 01:29] #57 closed, assigned to MayoDuckPy

[2022-04-05 01:30] #76 closed, assigned to Magicboy-Zhang